<ion-header>
  <ion-navbar>

      <ion-buttons *ngIf="!isSearch" start>
        <button ion-button icon-only color="royal" (click)="goSearch()">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title *ngIf="!isSearch">CÁC THAM SỐ</ion-title>

      <ion-searchbar *ngIf="isSearch" placeholder="Tìm theo loại tham số"
            [(ngModel)]="searchString"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onInput($event)"
            (keyup.enter)="searchEnter()"
            (keyup.esc)="searchEnter()"
            start>
      </ion-searchbar>

  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-list>
    <ion-list-header color="primary">
          <ion-row>
              <ion-col text-center col-6 col-xl-3 col-lg-4 col-md-5 col-sm-5>
                  <h2>Mô tả tham số</h2>
              </ion-col>
              <ion-col class="hidden-sm-down" text-center col-xl-2 col-lg-2 col-md-2 col-sm-3>
                  <h2>Tên</h2>
              </ion-col>
              <ion-col class="hidden-md-down" text-center col-xl-1 col-lg-1 col-md-1>
                  <h2>Mã(code)</h2>
              </ion-col>
              <ion-col text-right col-4 col-xl-2 col-lg-2 col-md-2 col-sm-2>
                  <h2>Giá trị</h2>
              </ion-col>
              <ion-col text-right col-2 offset-xl-2 col-xl-2 offset-lg-1 col-lg-2 col-md-2 col-sm-2>
                  <h2>Thứ tự</h2>
              </ion-col>
            </ion-row>
    </ion-list-header>

    <ion-toolbar color="thirdary">
        <ion-buttons start>
          <button ion-button outline icon-start class="activated" (click)="toggleEdit()">
            <ion-icon name="swap"></ion-icon>
            {{editButton}}
          </button>
        </ion-buttons>
        <ion-buttons end>
          <button ion-button color="secondary" outline icon-only class="activated" (click)="addGroupParameters()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>ĐỊNH NGHĨA THAM SỐ</ion-title>
    </ion-toolbar>

    <ion-item-group [reorder]="editing" (ionItemReorder)="reorderData($event)">
      <ion-item *ngFor="let p of parameters">
        <ion-row>
          <ion-col text-left col-6 col-xl-3 col-lg-4 col-md-5 col-sm-5>
            <ion-buttons>
              <button ion-button color="secondary" outline icon-only>
                <ion-icon [name]="p.icon?p.icon:'arrow-dropdown-circle'"></ion-icon>
                {{ p.type }}.{{ p.code?p.code:p.id }} • {{ p.description }}
              </button>
            </ion-buttons>
          </ion-col>
          <ion-col class="hidden-sm-down" text-center col-xl-2 col-lg-2 col-md-2 col-sm-3>
              {{ p.name }}
          </ion-col>
          <ion-col class="hidden-md-down" text-center col-xl-1 col-lg-1 col-md-1>
              {{ p.code }}
          </ion-col>
          <ion-col text-right col-4 col-xl-2 col-lg-2 col-md-2 col-sm-2>
              {{ p.value }}
          </ion-col>
          <ion-col text-right col-2 offset-xl-2 col-xl-2 offset-lg-1 col-lg-2 col-md-2 col-sm-2>
              {{ p.order_1 }}
          </ion-col>
          </ion-row>
          <ion-item *ngFor="let ch of p.$children">
              <ion-row>
                <ion-col text-left offset-1 col-5 offset-xl-1 col-xl-2 offset-lg-1 col-lg-3 offset-md-1 col-md-4 offset-lg-1 col-sm-4>
                    <ion-icon [name]="p.icon?p.icon:'return-right'"></ion-icon>
                    {{ ch.type }}.{{ ch.code?ch.code:ch.id }} • {{ ch.description }}
                </ion-col>
                <ion-col class="hidden-sm-down" text-center col-xl-2 col-lg-2 col-md-2 col-sm-3>
                    {{ ch.name }}
                </ion-col>
                <ion-col class="hidden-md-down" text-center col-xl-1 col-lg-1 col-md-1>
                    {{ ch.code }}
                </ion-col>
                <ion-col text-right col-4 col-xl-2 col-lg-2 col-md-2 col-sm-2>
                    {{ ch.value }}
                </ion-col>
                <ion-col text-right col-2 offset-xl-2 col-xl-2 offset-lg-1 col-lg-2 col-md-2 col-sm-2>
                    {{ ch.order_1 }}
                </ion-col>
              </ion-row>
          </ion-item>
      </ion-item>
    </ion-item-group>

  </ion-list>

  <ion-list class="login-sliding-demo">
      <ion-list-header>
        Logins
      </ion-list-header>
  
      <ion-item-sliding *ngFor="let login of logins" #item>
        <ion-item>
          <ion-icon [name]="login.icon" item-start></ion-icon>
          <h2>{{login.name}}</h2>
          <p>{{login.username}}</p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
        <ion-item-options (ionSwipe)="download(item)" icon-start>
          <button ion-button color="dark" (click)="more(item)">
            <ion-icon name="volume-off"></ion-icon>
            Mute
          </button>
          <button ion-button color="light" expandable (click)="download(item)">
            <ion-icon name="download" class="expand-hide"></ion-icon>
            <div class="expand-hide">Download</div>
            <ion-spinner id="download-spinner"></ion-spinner>
          </button>
        </ion-item-options>
      </ion-item-sliding>
  
    </ion-list>

</ion-content>