$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  thirdary:   #a5e591,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  excel1:    #1F497D,
  excel2:  #EEECE1,
  excel3:  #4F81BD,
  excel4:  #C0504D,
  excel5:  #9BBB59,
  excel6:  #8064A2,
  excel7:  #4BACC6,
  excel8:  #F79646,
  excel9:  #0000FF,
  excel10: #800080,
  excel11: #ccccd485
);


@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
