page-signature {
    
    .background-page {
        background-color: #2d96de;
        text-align: center;
    }
    
    .draw-area{

        background-color: white;
        height: 300px;
        width: 300px;
        display: block;
    }


}
